@{
    ViewBag.Title = "About | Rukomysly";
}


<div class="second_div text_black">
    <div>
        <div class="col-sm-5 panel col-md-offset-1 panel-default panel_d">
            <div class="panel-heading panel_h">Про нас</div>
            <div class="panel-body">
                <p>
                    Соціальне підприємство “Рукомисли” засновано у
                    липні 2015 року громадською організацією “Центр “Жіночі перспективи”
                    в рамках проекту ОБСЄ протидії торгівлі людьми. Метою створення підприємства
                    стала допомога соціально уразливим категоріям (безробітнім, жертвам торгівлі
                    людьми, учасникам АТО, ВПО тощо) у набутті нових професійних навичок,
                    які сприятимуть самозайнятості або пошуку нового робочого місця.
                </p>
            </div>
        </div>
        <div class="col-sm-5 col-md-offset-1 panel panel-default panel_d">
            <div class="panel-heading">Наша місія</div>
            <div class="panel-body">
                <p>
                    Соціальне підприємство “Рукомисли” засновано у
                    липні 2015 року громадською організацією “Центр “Жіночі перспективи”
                    в рамках проекту ОБСЄ протидії торгівлі людьми. Метою створення підприємства
                    стала допомога соціально уразливим категоріям (безробітнім, жертвам торгівлі
                    людьми, учасникам АТО, ВПО тощо) у набутті нових професійних навичок,
                    які сприятимуть самозайнятості або пошуку нового робочого місця.
                </p>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="description text_black">
    <p>Соціальне підприємство “Рукомисли” працює та розвивається у трьох напрямках:</p>
    <ul>
        <li>садово-паркова пластика;</li>
        <li>виготовлення виробів з вовни у техніці сухого та мокрого валяння;</li>
        <li>ручний розпис по тканині (батік).</li>
    </ul>
    <p>
        Для цього постійно проводяться навчальні курси,
        програму для яких розробляє арт-директорка
        <a href="https://www.facebook.com/natalia.leykina1" target="_blank" class="text_orange">Наталя Лєйкіна</a>,
        художниця та скульпторка за фахом.
    </p>
    <p>
        Ще одним напрямком нашої діяльності є проведення майстер-класів.
        Ми працюємо з учнями від 6-8 років в залежності від складності програми.
        Верхнього вікового порогу не існує.
        Майстер-класи завжди проводяться з нашими матеріалами
        та інструментами, що входить у вартість.
        Тема і місце проведення МК обговорюється попередньо.
    </p>
    <p>
        Соціальне підприємство “Рукомисли” активно приймає
        участь у різних тематичних заходах та ярмарках,
        де можна подивитися та придбати наші вироби.
    </p>
    <p>
        Будь-який товар, представлений в інтернет-магазині можна
        купити або замовити власний варіант у схожій стилістиці.
    </p>
</div>