@{
    ViewBag.Title = "Home | Rukomysly";
}

<section class="first_main_background_section">
    <img src="https://static.pexels.com/photos/111755/pexels-photo-111755.jpeg" alt="" class="first_main_background_section_img" />

    <article class="home_first_main_background_section_article">
        <h1>
            Rukomysly
        </h1>
        <h5>
            We are not we more than you are not we, we know you don't Yes...... Deep.
        </h5>
    </article>
</section>

<aside class="initial_product_display front_view_element">

    <section class="initial_product_display_tag_container">
        <div class="initial_product_display_tag background_black">
            <span>Знайди своє</span>
        </div>

        <div class="initial_product_display_additional_tag background_black">
            <img src="http://cdn.3plearning.com/wp-content/uploads/2015/02/tick-circle-wht.png" alt="" />
        </div>
    </section>

    <section class="initial_display_product_list">
        <article class="product_home">
            <img src="https://scontent-frt3-2.xx.fbcdn.net/v/t1.0-9/17201227_1871620226454093_9001221302285229406_n.jpg?oh=9aeb8d61d23281c18ad0fe7df55b57af&oe=59CFEA61" alt="" class="full_scale_element_image_sepia" />

            <div class="product_initial_overlay">
                <h4 class="product_title_text">Digimon</h4>
                <p class="product_description_text text_black">Nice friend</p>
            </div>

            <div class="overlay_to_bottom">
                <h4 class="product_title_text">Digimon</h4>
                <p class="product_description_text">
                    Price: 1000000000$
                </p>
            </div>

            <div class="overlay_to_top">
                <p class="product_description_text">
                    This creature is unknown to us, he has some cross in the middle. We can just wonder what it is.
                    Try not to scare him. :P
                </p>
            </div>
        </article>

        <article class="product_home">
            <img src="https://scontent-frt3-2.xx.fbcdn.net/v/t1.0-9/17190540_1871620206454095_8424946997986623246_n.jpg?oh=3d3e47516fd31d1f63e861f8c461201b&oe=59E42EDB" alt="" class="full_scale_element_image_sepia" />

            <div class="product_initial_overlay">
                <h4 class="product_title_text">Digimon</h4>
                <p class="product_description_text text_black">Nice friend</p>
            </div>

            <div class="overlay_to_bottom">
                <h4 class="product_title_text">Digimon</h4>
                <p class="product_description_text">
                    Price: 1000000000$
                </p>
            </div>

            <div class="overlay_to_top">
                <p class="product_description_text">
                    This creature is unknown to us, he has some cross in the middle. We can just wonder what it is.
                    Try not to scare him. :P
                </p>
            </div>
        </article>

        <article class="product_home">
            <img src="https://scontent-frt3-2.xx.fbcdn.net/v/t1.0-9/17190776_1871620186454097_795380121869963795_n.jpg?oh=aad605e21e2714d9065d74e71b6655f3&oe=59D75414" alt="" class="full_scale_element_image_sepia" />

            <div class="product_initial_overlay">
                <h4 class="product_title_text">Digimon</h4>
                <p class="product_description_text text_black">Nice friend</p>
            </div>

            <div class="overlay_to_bottom">
                <h4 class="product_title_text">Digimon</h4>
                <p class="product_description_text">
                    Price: 1000000000$
                </p>
            </div>

            <div class="overlay_to_top">
                <p class="product_description_text">
                    This creature is unknown to us, he has some cross in the middle. We can just wonder what it is.
                    Try not to scare him. :P
                </p>
            </div>
        </article>

        <article class="product_home">
            <img src="https://scontent-frt3-2.xx.fbcdn.net/v/t1.0-9/16997689_1871620229787426_8545824893734228741_n.jpg?oh=04334a75877f33b457bcd7d639f5ee97&oe=59A7654C" alt="" class="full_scale_element_image_sepia" />

            <div class="product_initial_overlay">
                <h4 class="product_title_text">Digimon</h4>
                <p class="product_description_text text_black">Nice friend</p>
            </div>

            <div class="overlay_to_bottom">
                <h4 class="product_title_text">Digimon</h4>
                <p class="product_description_text">
                    Price: 1000000000$
                </p>
            </div>

            <div class="overlay_to_top">
                <p class="product_description_text">
                    This creature is unknown to us, he has some cross in the middle. We can just wonder what it is.
                    Try not to scare him. :P
                </p>
            </div>
        </article>
    </section>
</aside>



<div class="carousel-section">
    <section class="middle_main_background_section background_orange"></section>
    <section class="last_main_background_section background_orange_light"></section>
    <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="home_slide_show_element">
                        <img src="http://i.huffpost.com/gen/793571/images/o-CLOTHING-COLOUR-facebook.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="item-name">
                            <span> Назва </span>
                        </div>
                        <div class="item-desc">
                            <span> Опис продукту</span>
                        </div>
                        <div class="but">
                            <button type="button"> Дізнайтесь більше </button>
                        </div>
                        <div class="item-back"></div>
                    </div>
                </div>

                <div class="item">
                    <div class="home_slide_show_element">
                        <img src="http://9mode-clothing-manufacturer.com/wp-content/uploads/2017/04/slider2.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="item-name">
                            <span> Назва </span>
                        </div>
                        <div class="item-desc">
                            <span> Опис продукту </span>
                        </div>
                        <div class="but">
                            <button type="button"> Дізнайтесь більше</button>
                        </div>
                        <div class="item-back"></div>
                    </div>
                </div>

                <div class="item">
                    <div class="home_slide_show_element">
                        <img src="https://s-media-cache-ak0.pinimg.com/736x/4f/83/5c/4f835c309c0b41e702ba08e3b75135d9.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="item-name">
                            <span> Назва </span>
                        </div>
                        <div class="item-desc">
                            <span> Опис продукту </span>
                        </div>
                        <div class="but">
                            <button type="button"> Дізнайтесь більше </button>
                        </div>
                        <div class="item-back"></div>
                    </div>
                </div>

                <div class="item">
                    <div class="home_slide_show_element">
                        <img src="https://s-media-cache-ak0.pinimg.com/736x/6f/d9/af/6fd9af37782a1ef2d9a583fa349cbb4d--lace-shirts-stylish-dresses.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="item-name">
                            <span> Назва </span>
                        </div>
                        <div class="item-desc">
                            <span> Опис продукту </span>
                        </div>
                        <div class="but">
                            <button type="button"> Дізнайтесь більше </button>
                        </div>
                        <div class="item-back"></div>
                    </div>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
<section class="partners_display_section background_black text_white">
    <h3>НАШІ ПАРТНЕРИ</h3>

    <div class="equally_spaced_line_jumper" id="partners_display_article_container">
        <article class="partners_display_article">
            <img src="http://peka2.tv/images/blog/3f6cc7716b4687c235062fa89f17ad92/4491dbf7-dc7a-483a-b575-c075add5b8a8.jpg" alt="">
            <hr />
            <p>
                Міністерство соціальної політики України
            </p>
        </article>

        <article class="partners_display_article">
            <img src="http://cdn.akamai.steamstatic.com/steam/apps/570/header.jpg?t=1494984004" alt="">
            <hr />
            <p>
                Організація з безпеки та співробітництва в Європі<br />Координатор проектів ОБСЄ в Україні
            </p>
        </article>

        <article class="partners_display_article">
            <img src="http://sport.img.com.ua/nxs279/b/orig/3/d7/5c7105c85b5c5e1dde83bf401176cd73.jpg" alt="">
            <hr />
            <p>
                U.S. Mission to the OSCE
            </p>
        </article>

        <article class="partners_display_article">
            <img src="https://overwatch-a.akamaihd.net/img/logos/overwatch-share-3d5a268515283007bdf3452e877adac466d579f4b44abbd05aa0a98aba582eeaebc4541f1154e57ec5a43693345bebda953381a7b75b58adbd29d3f3eb439ad2.jpg" alt="">
            <hr />
            <p>
                Government of Canada
            </p>
        </article>
    </div>
</section>